---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';

// Generate a new path for every collection entry
export async function getStaticPaths() {
    // Only compile those that are not drafts
    const notes = await getCollection('notes', ({ data }) => {
        return import.meta.env.PROD ? data.isDraft !== true : true;
    });

    return notes.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Notes - ${entry.data.title}`}>
    <a href="/notes">{`<-`} Back to notes</a>
    <Content />
</Layout>