---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

// Only get those that are not drafts (except if we are local), and sort by Publish Date
const notes = (await getCollection('notes', ({ data }) => {
	return import.meta.env.PROD ? data.isDraft !== true : true;
})).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout title="Home">
	<h1>My Garden</h1>

	<ul>
		{notes.map(entry => (
			<li><a href={`/notes/${entry.slug}`}>{entry.data.title} - {entry.data.publishDate.toISOString()}</a></li>
		))}
	</ul>
</Layout>