---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<h1>Braxton Fair</h1>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
	<p class="my-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus atque rerum autem animi consectetur laboriosam, cum, magni vitae quos molestiae quidem. Eius blanditiis quia sit ex reprehenderit totam vel hic.</p>
</Layout>