---

const home_active = Astro.url.pathname === '/';
const about_active = Astro.url.pathname.startsWith('/about');
const projects_active = Astro.url.pathname.startsWith('/projects');
const notes_active = Astro.url.pathname.startsWith('/notes');
---

<nav>
    <ul class="flex flex-row md:flex-col justify-around">
        <li><a href="/" class:list={[{active: home_active}]} aria-current={home_active ? 'page' : false}>home</a></li>
        <li><a href="/about" class:list={[{active: about_active}]} aria-current={about_active ? 'page' : false}>about</a></li>
        <li><a href="/projects" class:list={[{active: projects_active}]} aria-current={projects_active ? 'page' : false}>projects</a></li>
        <li><a href="/notes" class:list={[{active: notes_active}]} aria-current={notes_active ? 'page' : false}>notes</a></li>
    </ul>
</nav>

<style>
    nav {
        @apply md:w-1/4 lg:w-1/6 w-full h-auto md:h-screen md:sticky top-0 p-8;
    }

    a {
        @apply text-xl no-underline;
    }

    a.active {
        @apply text-indigo-500 hover:text-indigo-600;
    }
</style>