---
import '../styles/global.css';

import Navbar from '../components/Navbar.astro';

const { title } = Astro.props;
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<!-- TODO: Create a favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<!-- TODO: Generate a description -->
		<meta name="generator" content={Astro.generator} />
		<title>Braxton Fair | {title}</title>
    </head>
    <body>	
		<div class="flex flex-col md:flex-row">
			<Navbar />
			<div class="flex-1 p-4">
				<slot /> 
			</div>	
		</div>
    </body>
</html>