---
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<!-- TODO: Create a favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<!-- TODO: Generate a description -->
		<meta name="generator" content={Astro.generator} />
		<title>Braxton Fair | {title}</title>
    </head>
    <body>
       <slot /> 
    </body>
</html>